---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Adler Textil" bgbody="1">
    <table
        
        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
        cellspacing="0"
        cellpadding="0"
    >
        <tbody>
            <tr>
                <td>
                    <table                        
                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                        cellspacing="0"
                        cellpadding="0"
                    >
                        <tbody>
                            <tr>
                                <td style="vertical-align: top;">
                                    <table
                                        
                                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                                        cellspacing="0"
                                        cellpadding="0"
                                    >
                                        <tbody>
                                            <tr>
                                                <td
                                                    class="template1__ImageContainer-sc-nmby7a-0"
                                                    style="text-align: center;"
                                                    ><img
                                                        id="cb41e83f-1d90-4b04-8767-fc5461153482"
                                                        class="image__StyledImage-sc-hupvqm-0 gYgOut"
                                                        style="display: block; max-width: 250px;"
                                                        src="/images/firma/logo-firma.png"
                                                        width="100%"
                                                    /></td
                                                >
                                            </tr>
                                            <tr>
                                                <td height="30"> </td>
                                            </tr>
                                            <tr>
                                                <td style="text-align: center;">
                                                    <table
                                                        
                                                        style="display: inline-block; vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                                                        cellspacing="0"
                                                        cellpadding="0"
                                                    >
                                                        <tbody>
                                                            <tr
                                                                style="text-align: center;"
                                                            >
                                                                <td
                                                                    ><a
                                                                        class="social-links__LinkAnchor-sc-py8uhj-2 hBVWAh"
                                                                        style="display: inline-block; padding: 0px; background-color: #6a78d1;"
                                                                        href="//privateemail.com"
                                                                        ><img
                                                                            class="social-links__LinkImage-sc-py8uhj-1 hSTSwA"
                                                                            style="max-height: 120px;: 135px; display: block;"
                                                                            src="/images/firma/adler.png"
                                                                            alt="facebook"
                                                                            height="100%"
                                                                        /></a
                                                                    ></td
                                                                >
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="46">
                                    <div></div>
                                </td>
                                <td
                                    style="padding: 0px; vertical-align: middle;"
                                >
                                    <h2
                                        class="name__NameContainer-sc-1m457h3-0 jxbGUj"
                                        style="margin: 0px; font-size: 18px; color: #000000; font-weight: 600;"
                                    >
                                        CONFECCIONES ADLER SAC
                                    </h2>
                                    <p
                                        class="job-title__Container-sc-1hmtp73-0 ifJNJc"
                                        style="margin: 0px; color: #000000; font-size: 14px; line-height: 22px;"
                                    >
                                        Profesionales de la confección
                                    </p>
                                    <p
                                        class="company-details__CompanyContainer-sc-j5pyy8-0 VnOLK"
                                        style="margin: 0px; font-weight: 500; color: #000000; font-size: 14px; line-height: 22px;"
                                    >
                                        Ventas | Proformas
                                    </p>
                                    <p
                                        class="custom-field__CustomFieldContainer-sc-190n2f-0 dKSugh"
                                        style="color: #000000; margin: 0px; font-size: 14px; line-height: 22px;"
                                    >
                                        Una nueva empresa de confianaza
                                    </p>
                                    <table
                                        
                                        style="width: 100%; vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                                        cellspacing="0"
                                        cellpadding="0"
                                    >
                                        <tbody>
                                            <tr>
                                                <td height="20"> </td>
                                            </tr>
                                            <tr>
                                                <td
                                                    class="color-divider__Divider-sc-1h38qjv-0 llIisW"
                                                    style="width: 100%; border-bottom: 1px solid #f2547d; border-left: none; display: block;"
                                                    width="auto"
                                                    height="1"
                                                >
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20"> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table
                                        
                                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                                        cellspacing="0"
                                        cellpadding="0"
                                    >
                                        <tbody>
                                            <tr style="vertical-align: middle;">
                                                <td
                                                    style="vertical-align: middle;"
                                                    width="30"
                                                >
                                                    <table
                                                        
                                                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                                                        cellspacing="0"
                                                        cellpadding="0"
                                                    >
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    style="vertical-align: bottom;"
                                                                    ><span
                                                                        class="contact-info__IconWrapper-sc-mmkjr6-1 bglVXe"
                                                                        style="display: inline-block; background-color: #fff;"
                                                                        ><img
                                                                            class="contact-info__ContactLabelIcon-sc-mmkjr6-0 cnkwri"
                                                                            style="display: block;"
                                                                            src="/images/firma/telefono.png"
                                                                            alt="mobilePhone"
                                                                            width="15"
                                                                        /></span
                                                                    ></td
                                                                >
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td
                                                    style="padding: 0px; color: #000000;"
                                                    ><a
                                                        class="contact-info__ExternalLink-sc-mmkjr6-2 ibLXSU"
                                                        style="text-decoration: none; color: #000000; font-size: 12px;"
                                                        href="https://privateemail.com/appsuite/tel:"
                                                        >917 584 188</a
                                                    > | <a
                                                        class="contact-info__ExternalLink-sc-mmkjr6-2 ibLXSU"
                                                        style="text-decoration: none; color: #000000; font-size: 12px;"
                                                        href="https://privateemail.com/appsuite/tel:"
                                                        >917 584 188</a
                                                    ></td
                                                >
                                            </tr>
                                            <tr style="vertical-align: middle;">
                                                <td
                                                    style="vertical-align: middle;"
                                                    width="30"
                                                >
                                                    <table
                                                        
                                                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                                                        cellspacing="0"
                                                        cellpadding="0"
                                                    >
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    style="vertical-align: bottom;"
                                                                    ><span
                                                                        class="contact-info__IconWrapper-sc-mmkjr6-1 bglVXe"
                                                                        style="display: inline-block; background-color: #fff;"
                                                                        ><img
                                                                            class="contact-info__ContactLabelIcon-sc-mmkjr6-0 cnkwri"
                                                                            style="display: block;"
                                                                            src="/images/firma/correo.png"
                                                                            alt="emailAddress"
                                                                            width="13"
                                                                        /></span
                                                                    ></td
                                                                >
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td style="padding: 0px;"
                                                    ><a
                                                        class="contact-info__ExternalLink-sc-mmkjr6-2 ibLXSU"
                                                        style="text-decoration: none; color: #000000; font-size: 12px;"
                                                        href="https://privateemail.com/appsuite/mailto:"
                                                        >informes@confeccionesadler.com</a
                                                    ></td
                                                >
                                            </tr>
                                            <tr style="vertical-align: middle;">
                                                <td
                                                    style="vertical-align: middle;"
                                                    width="30"
                                                >
                                                    <table
                                                        
                                                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                                                        cellspacing="0"
                                                        cellpadding="0"
                                                    >
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    style="vertical-align: bottom;"
                                                                    ><span
                                                                        class="contact-info__IconWrapper-sc-mmkjr6-1 bglVXe"
                                                                        style="display: inline-block; background-color: #fff;"
                                                                        ><img
                                                                            class="contact-info__ContactLabelIcon-sc-mmkjr6-0 cnkwri"
                                                                            style="display: block;"
                                                                            src="/images/firma/link.png"
                                                                            alt="website"
                                                                            width="13"
                                                                        /></span
                                                                    ></td
                                                                >
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td style="padding: 0px;"
                                                    ><a
                                                        class="contact-info__ExternalLink-sc-mmkjr6-2 ibLXSU"
                                                        style="text-decoration: none; color: #000000; font-size: 12px;"
                                                        href="https://confeccionesadler.com/"
                                                        >www.confeccionesadler.com</a
                                                    ></td
                                                >
                                            </tr>
                                            <tr style="vertical-align: middle;">
                                                <td
                                                    style="vertical-align: middle;"
                                                    width="30"
                                                >
                                                    <table
                                                        
                                                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                                                        cellspacing="0"
                                                        cellpadding="0"
                                                    >
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    style="vertical-align: bottom;"
                                                                    ><span
                                                                        class="contact-info__IconWrapper-sc-mmkjr6-1 bglVXe"
                                                                        style="display: inline-block; background-color: #fff;"
                                                                        ><img
                                                                            class="contact-info__ContactLabelIcon-sc-mmkjr6-0 cnkwri"
                                                                            style="display: block;"
                                                                            src="/images/firma/horario.png"
                                                                            alt="mobilePhone"
                                                                            width="15"
                                                                        /></span
                                                                    ></td
                                                                >
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td
                                                    style="padding: 0px; color: #000000;"
                                                    ><span
                                                    class="contact-info__Address-sc-mmkjr6-3 jxDmGK"
                                                    style="font-size: 12px; color: #000000;"
                                                    >Lunes a viernes de 8.00 a. m. a 5.00 p. m. (horario corrido)</td
                                                >
                                            </tr>
                                            <tr style="vertical-align: middle;">
                                                <td
                                                    style="vertical-align: middle;"
                                                    width="30"
                                                >
                                                    <table
                                                        
                                                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                                                        cellspacing="0"
                                                        cellpadding="0"
                                                    >
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    style="vertical-align: bottom;"
                                                                    ><span
                                                                        class="contact-info__IconWrapper-sc-mmkjr6-1 bglVXe"
                                                                        style="display: inline-block; background-color: #fff;"
                                                                        ><img
                                                                            class="contact-info__ContactLabelIcon-sc-mmkjr6-0 cnkwri"
                                                                            style="display: block; background-color;"
                                                                            src="/images/firma/lugar.png"
                                                                            alt="address"
                                                                            width="13"
                                                                        /></span
                                                                    ></td
                                                                >
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td style="padding: 0px;"
                                                    ><span
                                                        class="contact-info__Address-sc-mmkjr6-3 jxDmGK"
                                                        style="font-size: 12px; color: #000000;"
                                                        >Jr. los terrazos F - 12
                                                        Asoc. Inca Manco Capac
                                                        Prog. la basilica / SJL /
                                                        Lima.</span
                                                    ></td
                                                >
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table
                                        
                                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                                        cellspacing="0"
                                        cellpadding="0"
                                    >
                                        <tbody>
                                            <tr>
                                                <td height="30"> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table
                        
                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                        cellspacing="0"
                        cellpadding="0"
                    >
                        <tbody>
                            <tr>
                                <td height="30"> </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</Layout>
