---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Adler Textil" bgbody="1">
    <table
        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
        cellspacing="0"
        cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <table
                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                        cellspacing="0"
                        cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="vertical-align: top;">
                                    <table
                                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                                        cellspacing="0"
                                        cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td style="text-align: center;"><img
                                                        id="cb41e83f-1d90-4b04-8767-fc5461153482"
                                                        style="display: block; max-width: 250px;"
                                                        src="https://confeccionesadler.com/images/firma/logo-firma.png"
                                                        width="100%" /></td>
                                            </tr>
                                            <tr>
                                                <td height="30"> </td>
                                            </tr>
                                            <tr><td><table
                                                        cellpadding="0"
                                                        cellspacing="0"
                                                        style="display: inline-block; vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;">
                                                        <tbody><tr width="100%"><td><a
                                                                        href="https://www.facebook.com/Confecciones.ADLER"
                                                                        color="#6a78d1"
                                                                        style="display: inline-block; padding: 0px; background-color: rgb(106, 120, 209);"><img
                                                                            src="https://confeccionesadler.com/images/firma/facebook.png"
                                                                            alt="facebook"
                                                                            color="#6a78d1"
                                                                            width="45"
                                                                            style="background-color: rgb(106, 120, 209); max-width: 45px; display: block;"/>
                                                                        </a></td><td><a
                                                                        href="//"
                                                                        color="#6a78d1"
                                                                        style="display: inline-block; padding: 0px;"><img
                                                                            src="https://confeccionesadler.com/images/firma/instagram.png"
                                                                            alt="instagram"
                                                                            color="#6a78d1"
                                                                            width="50"
                                                                            style="max-width: 50px; display: block;"/></a></td></tr></tbody>
                                                    </table></td></tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td width="46">
                                    <div></div>
                                </td>
                                <td style="padding: 0px; vertical-align: middle;">
                                    <h2
                                        style="margin: 0px; font-size: 18px; color: #000000; font-weight: 600;">
                                        Gabriel Santos Orozco Principe
                                    </h2>
                                    <table style="width: 100%;">
                                        <tr>
                                            <td>
                                                <p
                                                    style="margin: 0px; color: #000000; font-size: 14px; line-height: 22px;">
                                                    Gerente Operativo
                                                </p>
                                                <p
                                                    style="margin: 0px; font-weight: 500; color: #000000; font-size: 14px; line-height: 22px;">
                                                    Servicios | Venta | Confecciones
                                                </p>
                                                <p
                                                    style="color: #000000; margin: 0px; font-size: 14px; line-height: 22px;">
                                                    Una nueva empresa de confianza
                                                </p>
                                            </td>
                                            <td>                                                <a
                                                href="//"
                                                color="#6a78d1"
                                                style="display: inline-block; padding: 0px;"><img
                                                    src="https://confeccionesadler.com/images/firma/adler.png"
                                                    alt="Adler"
                                                    height="60"
                                                    style="max-height: 60px; display: block;"/></a></td>
                                        </td>
                                        </tr>
                                    </table>
                                    <table
                                        style="width: 100%; vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                                        cellspacing="0"
                                        cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td height="20"> </td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="width: 100%; border-bottom: 1px solid #f2547d; border-left: none; display: block;"
                                                    width="auto"
                                                    height="1">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20"> </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table
                                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                                        cellspacing="0"
                                        cellpadding="0">
                                        <tbody>
                                            <tr style="vertical-align: middle;">
                                                <td
                                                    style="vertical-align: middle;"
                                                    width="30">
                                                    <table
                                                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                                                        cellspacing="0"
                                                        cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    style="vertical-align: bottom;"><span
                                                                        style="display: inline-block; background-color: #fff;"><img
                                                                            style="display: block;"
                                                                            src="https://confeccionesadler.com/images/firma/telefono.png"
                                                                            alt="mobilePhone"
                                                                            width="18" /></span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td
                                                    style="padding: 0px; color: #000000;"><a
                                                        style="text-decoration: none; color: #000000; font-size: 12px;"
                                                        href="https://privateemail.com/appsuite/tel:"
                                                        >917 584 188</a> | <a
                                                        style="text-decoration: none; color: #000000; font-size: 12px;"
                                                        href="https://privateemail.com/appsuite/tel:"
                                                        >913 746 197</a></td>
                                            </tr>
                                            <tr style="vertical-align: middle;">
                                                <td
                                                    style="vertical-align: middle;"
                                                    width="30">
                                                    <table
                                                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                                                        cellspacing="0"
                                                        cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    style="vertical-align: bottom;"><span
                                                                        style="display: inline-block; background-color: #fff;"><img
                                                                            style="display: block;"
                                                                            src="https://confeccionesadler.com/images/firma/correo.png"
                                                                            alt="emailAddress"
                                                                            width="18"/></span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td style="padding: 0px;"><a
                                                        style="text-decoration: none; color: #000000; font-size: 12px;"
                                                        href="https://privateemail.com/appsuite/mailto:"
                                                        >informes@confeccionesadler.com</a></td>
                                            </tr>
                                            <tr style="vertical-align: middle;">
                                                <td
                                                    style="vertical-align: middle;"
                                                    width="30">
                                                    <table
                                                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                                                        cellspacing="0"
                                                        cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    style="vertical-align: bottom;"><span
                                                                        style="display: inline-block; background-color: #fff;"><img
                                                                            style="display: block;"
                                                                            src="https://confeccionesadler.com/images/firma/link.png"
                                                                            alt="website"
                                                                            width="18"/></span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td style="padding: 0px;"><a
                                                        style="text-decoration: none; color: #000000; font-size: 12px;"
                                                        href="https://confeccionesadler.com"
                                                        >www.confeccionesadler.com</a></td>
                                            </tr>
                                            <tr style="vertical-align: middle;">
                                                <td
                                                    style="vertical-align: middle;"
                                                    width="30">
                                                    <table
                                                        style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                                                        cellspacing="0"
                                                        cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td
                                                                    style="vertical-align: bottom;"><span
                                                                        style="display: inline-block; background-color: #fff;"><img
                                                                            style="display: block;"
                                                                            src="https://confeccionesadler.com/images/firma/horario.png"
                                                                            alt="mobilePhone"
                                                                            width="18"/></span></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td
                                                    style="padding: 0px; color: #000000;"><span
                                                        style="font-size: 12px; color: #000000;"
                                                        >Lunes a viernes de 8.00
                                                        a. m. a 7.00 p. m.
                                                        (horario corrido)</span>
                                                </td>
                                                <tr
                                                    style="vertical-align: middle;">
                                                    <td
                                                        style="vertical-align: middle;"
                                                        width="30">
                                                        <table
                                                            style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                                                            cellspacing="0"
                                                            cellpadding="0">
                                                            <tbody>
                                                                <tr>
                                                                    <td
                                                                        style="vertical-align: bottom;"><span
                                                                            style="display: inline-block; background-color: #fff;"><img
                                                                                style="display: block; background-color;"
                                                                                src="https://confeccionesadler.com/images/firma/lugar.png"
                                                                                alt="address"
                                                                                width="18"/></span></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                    <td style="padding: 0px;"><span
                                                            style="font-size: 12px; color: #000000;">Calle los terrazos
                                                            Mz F lote 12 SJL.</span></td>
                                                </tr>
                                            </tr>
                                        </tbody>
                                        <table
                                            style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                                            cellspacing="0"
                                            cellpadding="0">
                                            <tbody>
                                                <tr>
                                                    <td height="30"> </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <tr>
                    <td>
                        <table
                            style="vertical-align: -webkit-baseline-middle; font-size: medium; font-family: Arial;"
                            cellspacing="0"
                            cellpadding="0">
                            <tbody>
                                <tr>
                                    <td height="30"> </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tr>
        </tbody>
    </table>
</Layout>
